/**
 * 前台全局样式
 */

// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
  
  &:hover {
    background-color: #ccc;
  }
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
